<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
  <title><ui:insert name="title">Facelets Tutorial</ui:insert></title>
</head>

<body>

<div id="header">
    <ui:insert name="header">
        <ui:include src="/WEB-INF/templates/header.xhtml"/>
    </ui:insert>
</div>

<div style="width: 20%; float:left" id="content">
       <ui:insert name="content">
    </ui:insert>
</div>

<div style="width: 60%%; float:left">
   Tady je druhy content
</div>

<div style="width: 20%; float:right" id="footer">
   <ui:insert name="footer">
        <ui:include src="/WEB-INF/templates/footer.xhtml"/>
    </ui:insert>
</div>


<!-- <div id="content"> -->
<!-- 	<ui:insert name="content"> -->
<!--     </ui:insert> -->
<!-- </div> -->

<!-- <div id="footer"> -->
<!--     <ui:insert name="footer"> -->
<!--         <ui:include src="/WEB-INF/templates/footer.xhtml"/> -->
<!--     </ui:insert> -->
<!-- </div> -->

</body>
</html>
